body {
  margin: 0;
  background-color: #011014;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#visuals-scene {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.contents-main {
  color: #fff;
  margin: 8px 8px 75px 8px;
}

.new-item-modal {
  background-color: rgba(0, 0, 0, 0.9) !important;
  border-color: #2a2a2a;
  color: #fff;
}

/* Landing page big button */
.landing-button-big {
  margin: 2px;
  background-color: rgba(0, 0, 0, 0.6) !important;
  border: 1px solid rgba(255, 255, 255, 0.6) !important;
}

.landing-button-big:hover {
  border: 1px solid white !important;
}

#portals-to-remove {
  .shake-portal:nth-child(2n) {
    animation-name: shake-a;
    animation-iteration-count: infinite;
    transform-origin: 50% 10%;
  }

  .shake-portal:nth-child(2n-1) {
    animation-name: shake-b;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-origin: 30% 5%;
  }
}

@keyframes shake-a {
  0% {
    transform: rotate(-1deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(1.5deg);
    animation-timing-function: ease-out;
  }
}

@keyframes shake-b {
  0% {
    transform: rotate(1deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(-1.5deg);
    animation-timing-function: ease-out;
  }
}

/* Extra padding for text pages */
.page-padding {
  padding-top: 30px;
}

/* Align to center */
.centered-text {
  text-align: center;
}

/* Fade in contents from top */
.fadein {
  animation: fadeintop 0.5s;
  animation-fill-mode: both;
}

/* For content to be fixed at center of page */
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
}

/* Delay fade in animation on loading spinner */
.spinner {
  animation-delay: 1s;
}

/* Fade in from top */
@keyframes fadeintop {
  from {
    opacity: 0;
    transform: translate(0, -10px);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.horiz-spaced-buttons {
  margin: 0px 2px;
}

/* Item modal */
#item-modal-alert {
  margin-top: 16px;
}

/* Transfer tab clipboard button & span styles */
#transfer-tab-copy-button {
  display: inline;
}

#transfer-tab-copied-label {
  padding: 6px 12px;
  vertical-align: middle;
  display: inline;
}

/* Footer */
.footer-custom {
  padding: 6px 12px;
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.footer-dropdown {
  background-color: rgba(0, 0, 0, 0.6);
}

.footer-button {
  margin: 0px 3px;
  padding: 2px 9px 6px 9px;
  background-color: rgba(0, 0, 0, 0.6) !important;
  border: 1px solid rgba(255, 255, 255, 0);
}

.footer-button:hover {
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.footer-ioicon {
  padding: 0px 0px 2px 0px;
}

.footer-item {
  color: rgba(255, 255, 255, 0.6) !important;
}

#footer-version {
  margin: 0px 3px;
  color: rgba(255, 255, 255, 0.4);
  transition: color 0.3s;
  text-decoration: none;
}

#footer-version:hover {
  color: white;
}
